<nav class="navbar navbar-expand-md navbar-dark bg-dark">

  <a class="navbar-brand" href="/">My Chat</a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
    aria-expanded="false" aria-label="Toggle navigation">

    <span class="navbar-toggler-icon"></span>

  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">

    <ul class="navbar-nav mr-auto">

      <li class="nav-item">

        <a class="nav-link" routerLink="/login">Login</a>

      </li>

    </ul>

  </div>

</nav>

<div class="row p-0 m-0">

  <div class="col-sm"></div>

  <div class="col-sm p-5">

    <h2 class="form-signin-heading">Sign Up To Start Chat</h2>

    <br>

    <span>FirstName: </span>

    <label for="inputFirstName" class="sr-only">FirstName</label>

    <input type="text" id="inputFirstName" class="form-control" [(ngModel)]="firstName" placeholder="FirstName" required autofocus>

    <br>

    <span>LastName: </span>

    <label for="inputLastName" class="sr-only">LastName</label>

    <input type="text" id="inputLastName" class="form-control" [(ngModel)]="lastName" placeholder="LastName" required>

    <br>

    <span>Mobile: </span>

    <label for="inputMobile" class="sr-only">Mobile</label>

    <input type="number" id="inputMobile" class="form-control" [(ngModel)]="mobile" placeholder="Mobile" required>

    <br>

    <span>Email: </span>

    <label for="inputEmail" class="sr-only">Email address</label>

    <input type="email" id="inputEmail" class="form-control" [(ngModel)]="email" placeholder="Email address" required>

    <br>

    <span>Password: </span>

    <label for="inputPassword" class="sr-only">Password</label>

    <input type="password" id="inputPassword" class="form-control" [(ngModel)]="password" placeholder="Password" required>

    <br>


    <span>API Key: </span>

    <label for="inputPassword" class="sr-only">AuthKey</label>

    <textarea type="password" id="AuthKey" class="form-control" [(ngModel)]="apiKey" placeholder="API Key" required></textarea>

    <br>

    <button class="btn btn-lg btn-primary btn-block" type="button" (click)="signUp()">Sign Up</button>

  </div>

  <div class="col-sm"></div>

</div>

